@model MyWebAPI.Models.CustomerInput
@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MainForm</title>
    <script language="javascript">
        function validateDate(oSrc, args[1], args[2]) {
            var iDay, iMonth, iYear;
            var arrValues;
            arrValues = args.Value.split("/");
            iMonth = arrValues[0];
            iDay = arrValues[1];
            iYear = arrValues[2];

            var testDate = new Date(iYear, iMonth - 1, iDay);
            if ((testDate.getDate() != iDay) ||
                (testDate.getMonth() != iMonth - 1) ||
                (testDate.getFullYear() != iYear)) {
                args[1].IsValid = false;
                args[2].IsValid = false;
                return;

            }

            return true;
        }</script>
</head>
<body>
    @using (Html.BeginForm())
    {
        <fieldset>
            <div>

                @Html.ValidationSummary()

                <p>Название журнала событий:</p>
                <select name="JournalName">
                    <option label="System" selected>System</option>
                    <option>Application</option>
                    <option>Key Managemant Service</option>
                    <option>OALerts</option>
                    <option>Security</option>
                    <option>Windows PowerShell</option>
                </select>

            </div>
            <p>Период, за который нужно вывести количество событий отсортированных по типу.</p>
            <!--проверка на то, что вторая дата больше-->
            <div><input id="FirstDate" type="date" name="FirstDate"></div> по  <div><input id="SecondDate" type="date" name="SecondDate"></div>
            
            <input type="submit" value="Result" />
        </fieldset>
    }
</body>
</html>

