
@model MyWebAPI.Models.CustomerInput

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Result</title>>
</head>
<body>
    <div>
        <p>Data from the log, @Model.JournalName</p>
        
        <p>For the period from @Model.FirstDate.Date to  @Model.SecondDate.Date</p>
    </div>
</body>
</html>
